In [1]:
 # Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Mataura,NZ,2022-07-03 21:54:06,-46.1927,168.8643,38.48,89,10,2.64
1,1,Hithadhoo,MV,2022-07-03 21:54:08,-0.6000,73.0833,82.74,76,100,9.40
2,2,Flinders,AU,2022-07-03 21:54:08,-34.5833,150.8552,60.19,89,100,8.01
3,3,Encruzilhada Do Sul,BR,2022-07-03 21:54:09,-30.5439,-52.5219,51.62,94,100,7.40
4,4,Chokurdakh,RU,2022-07-03 21:54:09,70.6333,147.9167,53.65,87,100,11.12

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [10]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [12]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [13]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 88

In [30]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
1,1,Hithadhoo,MV,2022-07-03 21:54:08,-0.6000,73.0833,82.74,76,100,9.40
7,7,Rikitea,PF,2022-07-03 21:54:10,-23.1203,-134.9692,75.29,71,0,16.22
8,8,Lincoln,US,2022-07-03 21:51:58,40.8000,-96.6670,86.27,73,75,13.80
16,16,Sao Miguel Do Araguaia,BR,2022-07-03 21:54:14,-13.2750,-50.1628,78.64,30,6,3.83
17,17,Kralendijk,BQ,2022-07-03 21:54:14,12.1500,-68.2667,84.18,79,75,23.02
21,21,Lompoc,US,2022-07-03 21:54:16,34.6391,-120.4579,77.68,74,0,24.00
22,22,Kavieng,PG,2022-07-03 21:54:16,-2.5744,150.7967,82.65,76,62,13.00
28,28,Salinopolis,BR,2022-07-03 21:54:19,-0.6136,-47.3561,78.82,83,86,13.73
36,36,Albany,US,2022-07-03 21:51:10,42.6001,-73.9662,80.37,42,16,10.02
37,37,Nurota,UZ,2022-07-03 21:54:21,40.5614,65.6886,81.91,23,0,3.42

In [31]:
preferred_cities_df.count()

City_ID       189
City          189
Country       189
Date          189
Lat           189
Lng           189
Max Temp      189
Humidity      189
Cloudiness    189
Wind Speed    189
dtype: int64

In [33]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

                      City Country  Max Temp      Lat       Lng Hotel Name
1                Hithadhoo      MV     82.74  -0.6000   73.0833
7                  Rikitea      PF     75.29 -23.1203 -134.9692
8                  Lincoln      US     86.27  40.8000  -96.6670
16  Sao Miguel Do Araguaia      BR     78.64 -13.2750  -50.1628
17              Kralendijk      BQ     84.18  12.1500  -68.2667
21                  Lompoc      US     77.68  34.6391 -120.4579
22                 Kavieng      PG     82.65  -2.5744  150.7967
28             Salinopolis      BR     78.82  -0.6136  -47.3561
36                  Albany      US     80.37  42.6001  -73.9662
37                  Nurota      UZ     81.91  40.5614   65.6886

In [34]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [35]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
1,Hithadhoo,MV,82.74,-0.6000,73.0833,Scoop Guest House
7,Rikitea,PF,75.29,-23.1203,-134.9692,People ThankYou
8,Lincoln,US,86.27,40.8000,-96.6670,Courtyard by Marriott Lincoln Downtown/Haymarket
16,Sao Miguel Do Araguaia,BR,78.64,-13.2750,-50.1628,Hotel Executivo Palace
17,Kralendijk,BQ,84.18,12.1500,-68.2667,Divi Flamingo Beach Resort & Casino
21,Lompoc,US,77.68,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
22,Kavieng,PG,82.65,-2.5744,150.7967,Nusa Island Retreat
28,Salinopolis,BR,78.82,-0.6136,-47.3561,Salinas Park Resort Maçarico AP101
36,Albany,US,80.37,42.6001,-73.9662,
37,Nurota,UZ,81.91,40.5614,65.6886,Guest House Ruslan Nurata & Tours

In [37]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [38]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [39]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))